@font-face {
    font-family: 'TastefulSandwich';
    src: url('../fontes/Tasteful\ Sandwich\ Italic.otf');
}

:root{
    --carne-com-queijo: #ecb742;

    --coracao: #d86a48;

    --frango: #7a530b;

    --carne: #883425cc;
}

.button {
    display: flex;
      justify-content: left; 
      align-items: center;
      gap: 10px; 
      flex-wrap: nowrap; 
}

.button img{
    width: 100px; 
      height: auto;
      border-radius: 8px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

header img{
    width: 120px;
    height: auto;
}

header nav{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 0;
}

header nav a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    padding: 6px 12px;
    border-radius: 16px;
}

header nav a:hover{
    transform: scale(1.2);
    color: #a14514;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    color: #000000;
}

body, button, a {
    color: var(--text);
}

body {
    width: 100%;
    height: 100vh;

    overflow: hidden;
    position: relative;
    overflow-y: auto;

    padding: 64px 20px 0;

    background-color: var(--carne);
    transition: all 0.6s;
    font-family: 'TastefulSandwich';
    font-size: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;

    width: 100%;
    max-width: 700px;
}

main h1{
    font-size: 86px;
    line-height: 1.1;
}

main p{
    font-size: 34px;
    color: #333;
}

main div{
    display: flex;
    align-items: center;
    column-gap: 8px;

    margin-top: 32px;
}

.button_espetinho{
    border: none;
    background: transparent;

    transition: all 0.4s;
}

main div:hover .button_espetinho:hover{
    cursor: pointer;
    transform: translateY(-20px);
}

main div:hover .button_espetinho:not(:hover){
    opacity: 0.6;
    filter: grayscale(0.3);
}

.button_espetinho img{
    width: 150px;
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#espetinhos{
    position: fixed;
    bottom: -1130px;
    right: -900px;

    z-index: -1;
}

#espetinhos img{
    width: 2000px;
    height: auto;

    transition: all 0.6s;
}

#espetinhos.carne img{
    transform: rotate(0deg);
}

#espetinhos.carneComQueijo img{
    transform: rotate(-90deg);
}

#espetinhos.frango img{
    transform: rotate(-180deg);
}

#espetinhos.coracao img{
    transform: rotate(-270deg);
}

#circle{
    position: fixed;
    bottom: -580px;
    right: -580px;

    z-index: -2;

    width: 1160px;
    height: 1160px;
    border-radius: 100%;
    background-color: var(--carne);

    transition: all 0.6s;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    mix-blend-mode: multiply;
}

.logo-social{
    width: 35px;
    height: auto;
    vertical-align: middle;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-social:hover{
    filter: brightness(1.2);
}

#pagina-cardapio{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  background-color: var(--carne);
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  transition: opacity 0.4s ease;
}

#pagina-cardapio img{
    max-width: 90%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  transition: transform 0.4s ease;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#btn-voltar{
    padding: 10px 20px;
  background-color: #5a1d00;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'TastefulSandwich';
  cursor: pointer;
  transition: all 0.3s ease;

}

#btn-voltar:hover {
  background-color: #883425;
  transform: scale(1.05);
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(42, 68, 182, 0.5);
  border-radius: 10px;
  border: 3px solid #fff;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: #d33218;
}
